.infoCircle {
    color: white;
    background: red;
    display: inline-block;
    border-radius: 100%;
}

.infoBox {
    color: white;
    background: red;
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 15%;
}

.infoCircle div, .infoBox div {
    margin-top: 5px;
}